.dots_custom {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
  padding: 0;
}

.dots_custom li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 7.5px;
  padding: 0;
}

.dots_custom li button {
  border: none;
  background: #d9d9d9;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  padding: 0;
}

.dots_custom li.slick-active button {
  background-color: #0a58be;
}
